!!! 5
  
%html

  / 
    _
    _
    _          ///   ///     ..=====..
    _         ///   ///   .:ooooooooooo:.
    _        ///   ///   .ooooooooooooooo.
    _       ///   ///   -ooooooooooooooooo-
    _      ///   ///    -ooooooooooooooooo-
    _     ///   ///     -ooooooooooooooooo-
    _    ///   ///       `ooooooooooooooo'
    _   ///   ///         `:ooooooooooo:'
    _  ///   ///             ''=====''
    _  
    _  Designed & Developed by LaCroix Design Co.
    _    http://lacroixdesign.net
    _  
    _  
    _
  
  %head
    %meta(charset="utf-8")
    %title=raw [yield(:title), "FIXME: APPLICATION NAME"].reject(&:blank?).join(' | ')
    
    -# Kore ga general meta
    %meta{name: "description", content: "FIXME: APPLICATION DESCRIPTION"}
    %meta{name: "author", content: "Michael LaCroix, James LaCroix"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "chrome=1"}

    -# Kore ga Facebook meta
    / %meta{name: "og:title", content: "#{@fb_title || 'FIXME: APPLICATION NAME'}"}
    / %meta{name: "og:image", content: ""}
    / %meta{name: "og:type", content: "website"}
    / %meta{name: "og:site_name", content: "FIXME: APPLICATION NAME"}
    / %meta{name: "og:admins", content: ""}
    
    -# Kore ga fav and touch icons (reside in the /public folder), plus iOS meta
    / %link{rel: "shortcut icon", href: "#{root_url}/favicon.png"}
    / %link{rel: "apple-touch-icon", href: "#{root_url}/apple-touch-icon-57x57-precomposed.png"}
    / %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "#{root_url}/apple-touch-icon-72x72-precomposed.png"}
    / %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "#{root_url}/apple-touch-icon-114x114-precomposed.png"}
    / %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "#{root_url}/apple-touch-icon-144x144-precomposed.png"}
    %meta{name: "viewport", content: "initial-scale=1.0, width=device-width, user-scalable=no, maximum-scale=1.0"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content:"black"}

    -# Kore ga HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "html5"
    
    = stylesheet_link_tag "application", media: "all"

    -# Kore ga CSS3 polyfill, IE6-8 support of CSS3 pseudo-classes with Selectivizr
    /[if lt IE 9]
      = javascript_include_tag "polyfills"
    
    = javascript_include_tag "responsive"
    = csrf_meta_tags
    
    -# Kore ga Typekit -- replace VVVVVVV with the proper kit code
    / %script{ type: "text/javascript", src: "//use.typekit.net/VVVVVVV.js" }
    / :javascript
    /   try{Typekit.load();}catch(e){}
  
  
  
  
  %body
    /[if lt IE 9]
      .wrap.outdated-browser
        %div
          %p
            %a.close{ href: "#" } x
            You are using an outdated browser. Please 
            %a{ href: "http://browsehappy.com/", target: '_blank' } upgrade your browser
            or 
            %a{ href: "http://www.google.com/chromeframe/?redirect=true", target: '_blank' } activate Google Chrome Frame
            to improve your experience.


    %header.header
      
      
    = yield
    
    
    %footer.footer
    
    
    

    
    
    
    
    -# Kore ga javascript
    = javascript_include_tag "application"
    
    
    -# Kore ga Google Analytics -- replace VVVVVVVV-V with the proper code
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-VVVVVVVV-V']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();



    
    
    -# Kore ga Width Plugin
    - if Rails.env.development?
      #lacroixdesign-browserwidth{style: "position:fixed; bottom:0; left:0; background:#555; color:#CCC; font-size:0.75em; padding:0.25em; text-shadow:black 1px 1px 1px; font-weight:normal;"}
      :javascript
        function showWidth(){var w = $(window).width();$('#dev-browserwidth').text(w);}showWidth();$(window).resize(function(){showWidth();});
